# .env file for Docker Compose

# MongoDB Configuration
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=root
MONGO_DATABASE=your_app_db # Replace with your desired database name

# RabbitMQ Configuration
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# PostgreSQL Rider Database Configuration
POSTGRES_RIDER_HOST=postgres_rider
POSTGRES_RIDER_PORT=5432
POSTGRES_RIDER_USER=postgres
POSTGRES_RIDER_PASSWORD=root
POSTGRES_RIDER_DB=riders_db

# PostgreSQL Authentication Database Configuration
POSTGRES_AUTH_HOST=postgres_auth
POSTGRES_AUTH_PORT=5432
POSTGRES_AUTH_USER=postgres
POSTGRES_AUTH_PASSWORD=root
POSTGRES_AUTH_DB=auth_db

# Add any other environment variables your application needs below
# Example:
# API_KEY=your_secret_api_key
# DEBUG=True